<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzb.file.image.gatewayimpl.database.ImageMapper">

    <resultMap id="BaseResultMap" type="com.hzb.file.image.gatewayimpl.database.dataobject.ImageDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="imgName" column="img_name" jdbcType="VARCHAR"/>
            <result property="imgurl" column="imgurl" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="size" column="size" jdbcType="VARCHAR"/>
            <result property="imgType" column="img_type" jdbcType="INTEGER"/>
            <result property="md5Key" column="md5_key" jdbcType="VARCHAR"/>
            <result property="objectName" column="object_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,img_name,imgurl,
        user_id,size,img_type,
        md5_key,object_name,remark,create_time,
        update_time
    </sql>
    <insert id="updateImgClass">
        insert into ms_imgclass_imgdata (imgdata_id,imgclass_id) values(#{imgDataId},#{imageclassId})
        on duplicate key
        update imgclass_id = #{imageclassId}
    </insert>
</mapper>
